<div class="container">
    <h1>Bewertungsschema</h1>
    <p> Auf dieser Seite sehen Sie das aktuelle Bewertungsschema. Sie können dies nach ihren Wünschen bearbeiten und anpassen.</p>

    <ul *ngFor='let item of gradingGrade'>
        <li>{{item}}</li>
    </ul>
    <a id='test'>{{json.teilnehmer[0].name}}</a>

    <div id='scheme-content'>
        <div class='content-block row'>
            <div class='title-block col s12'>Notenschlüssel / Noteneinheit</div>
            <div class='col s6' id='grading-key'>Notenschlüssel
                <table class='striped' id='grading-table'>
                    <thead>
                        <tr>
                            <th>Note</th>
                            <th>Obergrenze</th>
                            <th>Untergrenze</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>

                            <!-- HIER STIMMT WAS NICHT!!! -->
                            <td *ngFor='let grade of gradingGrade; let i=index'>{{grade[i]}}</td>
                            <td *ngFor='let max of gradingMax; let y=index'>{{max[y]}}</td>
                            <td *ngFor='let min of gradingMin; let z=index'>{{min[z]}}</td>


                        </tr>



                    </tbody>
                </table>

            </div>
            <div class='col s6' id='grading-unit'>Bewertungseinheit
                <form action="#" id='grading-form'>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="test1" />
                        <label for="test1">Punkte</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="test2" />
                        <label for="test2">Prozent</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="test3" />
                        <label for="test3">???</label>
                    </p>
                </form>
            </div>
        </div>
        <div class='content-block row'>
            <div class='title-block col s12'>Aufgaben / Fragen</div>
            <div class='content-block col s12'>
                <div class='question'>Aufgabe 1</div>
            </div>
            <div class='content-block col s12'>
                <div class='question'>Aufgabe 2</div>
            </div>
            <div class='content-block col s12'>
                <div class='question'>Aufgabe 3</div>
            </div>
        </div>




        <a *ngIf="!schemeCreateMode" class='scheme-btn btn' (click)='setCreateMode(true)'>Bearbeiten </a>
        <a *ngIf="schemeCreateMode" class='scheme-btn btn' (click)='setCreateMode(false)'>Speichern </a>

        <div *ngIf="!schemeCreateMode" id='scheme-content'>
            <div>Toller Text</div>
        </div>
    </div>
