.container {
    color: black;
    padding: 20px;
}

.content-block {
    color: red;
}

.title-block {
    background-color: blue;
    color: aquamarine;
    font-size: 30px;
}

#grading-key {
    color: green;
    background-color: pink;
}

#grading-unit {
    color: coral;
    background-color: grey;
}
