.container {
    color: black;
    padding: 20px;
}

.content-block {
    color: black;
    border: 1px;
    border-color: gray;
    border-style: solid;
}

.title-block {
    background-color: #C2185B;
    color: white;
    font-size: 30px;
}

#grading-key {
    color: black;
    background-color: white;
}

#grading-unit {
    color: black;
    background-color: white;
}

#grading-form {
    border: 1px;
    border-color: gray;
    border-style: solid;
    align-self: center;
}

#grading-table {
    border: 1px;
    border-color: gray;
    border-style: solid;
}

.scheme-btn {
    background-color: #C2185B;
}

#test {
    color: red;
    margin: 30px;
    width: 30px;
    height: 89px;
    background-color: blue;
}
