<div class="container">
  <h1>Bewertungsschema</h1>
  <hr class="hr_welcome">
  <div class="row">
    <div class="col s12">
      <span *ngIf="no_data_available" (click)="importScheme()" class="edit-btn clickHover">
        <i class="material-icons">import_export</i> Bewertungsschema importieren
      </span>
      <span *ngIf="no_data_available" (click)="createScheme()" class="edit-btn clickHover">
        <i class="material-icons">create</i> Bewertungsschema erstellen
      </span>
    </div>
  </div>
  <div class="row" style="margin-left: 0px" *ngIf="no_data_available">
    <h5>We're sorry but no data is available!</h5>
  </div>
  <div *ngIf="!no_data_available">
    <div class="row title-block" style="padding:10px">Notenschlüssel / Einheit</div>
    <div class="row">
      <div class="col s6">
        <div class="row row_hover">
          <div class="col s5 table-header">
            Notenstufe
          </div>
          <div class="col s5 table-header">
            Mindestwert
          </div>
          <div class="col s2 table-header">
            Löschen
          </div>
        </div>
        <div class="col s12" style="height: 300px;  overflow: scroll;">
          <div class="row row_hover card" *ngFor="let entry of this.current_project.bewertungsschema.allgemeine_infos.notenschluessel; let i=index; let last=last">
            <div *ngIf="!last">
              <div class="col s5">
                <input [(ngModel)]="entry.note" type="number" step="any" min="0" class="validate" (keyup)="onKeyUp($event)">
              </div>
              <div class="col s5">
                <input [(ngModel)]="entry.wert_min" type="number" step="any" min="0" class="validate" (keyup)="onKeyUp($event)" (mouseup)="onKeyUp($event)">
              </div>
              <div class="col s2" style="margin-top: 20px" id="deleteBtn" (click)="deleteGrade(i)">
                <i class="material-icons right">delete</i>
              </div>
            </div>
            <div *ngIf="last">
              <div class="col s5">
                <input [(ngModel)]="entry.note" type="number" step="any" min="0" class="validate" (keyup)="onKeyUp($event)">
              </div>
              <div class="col s5">
                <input [(ngModel)]="entry.wert_min" type="number" step="any" min="0" class="validate" (keyup)="onKeyUp($event)" (mouseup)="onKeyUp($event)"
                  disabled>
              </div>
              <div class="col s2" style="margin-top: 20px" id="deleteBtn">
                <i class="material-icons grey-text right">delete</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col s2'></div>
      <div class='col s6 center' id='grading-unit'>
        <div class="table-header">
          Bewertungseinheit
        </div>
        <form action="#" id='grading-form'>
          <p class="center">
            <input class="with-gap" name="radio-group1" id="grading-unit1" type="radio" (click)="pointsSelected()" value="0" (change)="changeDetected($event)"
              checked/>
            <label for="grading-unit1">Punkte</label>
          </p>
          <p class="center">
            <input class="with-gap" name="radio-group1" id="grading-unit2" type="radio" (click)="percentageSelected()" (change)="changeDetected($event)"
              value="1" />
            <label for="grading-unit2">Prozent</label>
          </p>
        </form>
      </div>
      <div class='col s6 center' id='grading-maxpoints' style="padding-top: 30px">
        <div class="table-header">
          Maximale Punktzahl
        </div>
        <div style="font-size: 40px; color:#C2185B; font-weight: bold">
          {{max_points}}
        </div>
      </div>
      <div class="col s6" style="padding: 15px">
        <a class="waves-effect waves-light btn pink darken-2 right" type="submit" (click)="addNewGrade()" style="margin-bottom: 15px"
          (mouseup)="onKeyUp($event)">
          <i class="material-icons left">add</i>Notenstufe hinzufügen</a>
      </div>
      <div class="row"> </div>
      <div class="row"> </div>
    </div>
    <div class='row title-block' style="padding: 10px">Aufgaben / Fragen</div>
    <div class="col s12">
      <a class="waves-effect waves-light btn pink darken-2 right" type="submit" (click)="addNewTask()" style="margin-bottom: 15px">
        <i class="material-icons left">add</i>Aufgabe hinzufügen</a>
    </div>
    <div class="row">
      <div class="col s12" *ngFor="let question of this.current_project.bewertungsschema.aufgaben; let i=index; let first=first"
        (change)="changeDetected($event)">
        <div *ngIf="!first">
          <div class="card-panel white row" (click)="(openCollapsible[i] = !openCollapsible[i]); openCloseCollapsibles(i)">
            <div class="col s9">
              <span>{{question.name}}</span>
              <br>
            </div>
            <div class="col s2">
              <i class="material-icons right" *ngIf="!openCollapsible[i]">keyboard_arrow_down</i>
              <i class="material-icons right" *ngIf="openCollapsible[i]">keyboard_arrow_up</i>
            </div>
            <div class="col s1" id="deleteTaskBtn" (click)="deleteTask(i)">
              <i class="material-icons right">delete</i>
            </div>
          </div>
        </div>
        <div *ngIf="first">
            <div class="card-panel white row" (click)="openCollapsible[i] = !openCollapsible[i]; openCloseCollapsibles(i)">
              <div class="col s9">
                <span>{{question.name}}</span>
                <br>
              </div>
              <div class="col s2">
                <i class="material-icons right" *ngIf="!openCollapsible[i]">keyboard_arrow_down</i>
                <i class="material-icons right" *ngIf="openCollapsible[i]">keyboard_arrow_up</i>
              </div>
              <div class="col s1" id="deleteTaskBtn">
                <i class="material-icons grey-text right">delete</i>
              </div>
            </div>
          </div>
          <div *ngIf="openCollapsible[i]" class="card-panel grey lighten-2">
            <div class="col s12">
              Titel der Aufgabe:
              <div class="input-field inline">
                <input [(ngModel)]="question.name" id="title" type="text" (keyup)="onKeyUp($event)">
                <label for="title" class="active">z.B. Aufgabe 1</label>
              </div>
            </div>
            <div class="col s12">
              Erreichbare Punkte:
              <div class="input-field inline">
                <input [(ngModel)]="question.max_punkt" [ngModelOptions]="{standalone: true}" type="number" class="validate" step="0.5" (keyup)="onKeyUp($event)"
                  (mouseup)="onKeyUp($event)">
                <label for="max_punkt" data-error="wrong" data-success="right" class="active">z.B. 12</label>
              </div>
            </div>
            <br>
            <br>
            <div class="col s12">
              Prozentuale Gewichtung:
              <div class="input-field inline">
                <input [(ngModel)]="question.gewichtung" [ngModelOptions]="{standalone: true}" type="number" class="validate" step="1" min="0"
                  (keyup)="onKeyUp($event)" (mouseup)="onKeyUp($event)">
                <label for="gewichtung" data-error="wrong" data-success="right" class="active">z.B. 50 %</label>
              </div>
              %
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="col s12">Aufgabenbeschreibung:</div>
            <div class="input-field col s12">
              <textarea [(ngModel)]="question.beschreibung" [ngModelOptions]="{standalone: true}" class="materialize-textarea" placeholder="Aufgabenbeschreibung"
                (keyup)="onKeyUp($event)"></textarea>
              <label for="beschreibung" class="active">z.B. Programmieren Sie eine Software zur Notenverwaltung.</label>
            </div>
            <br>
            <br>
            <div class="col s12">Bewertungshinweis:</div>
            <div class="input-field col s12">
              <textarea [(ngModel)]="question.bewertungs_hinweis" [ngModelOptions]="{standalone: true}" class="materialize-textarea" placeholder="Bewertungshinweis"
                (keyup)="onKeyUp($event)"></textarea>
              <label for="hinweis" class="active">z.B. 2 Punkte für tolle Demo.</label>
            </div>
            <br>
            <br>
            <div class="col s12">Erlaubte Kommentare:</div>
            <form action="#">
              <p>
                  <input [checked]="question.comment_public" type="checkbox" class="filled-in col s12 active"  id="comment-type1"  (change)="question.comment_public = !question.comment_public" (change)="logIndex(i)"/>
                <label for="comment-type1">Öffentlich</label>
              </p>
              <p>
                <input [checked]="question.comment_privat" type="checkbox" class="filled-in col s12 active" id="comment-type2"  (change)="question.comment_privat = !question.comment_privat" (change)="logIndex(i)"/>
                <label for="comment-type2">Privat</label>
              </p>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>