<div class="row">
    <div *ngIf="collpase" class="navbar-fixed col s2">
        <a (click)="setCollpased(false)" class="btn-floating btn-large waves-effect waves-light grey z-depth-1">
            <i class="material-icons">chevron_left</i>
        </a>
      </li>
      <li style="margin-top: 30px" [routerLinkActive]="['active']">
        <a class="white-text" [routerLink]="['overview']">
          <i class="material-icons home-icon white-text">insert_drive_file</i>
          Übersicht
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="white-text" [routerLink]="['correction']">
          <i class="material-icons home-icon white-text">playlist_add_check</i>
          Korrektur
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="white-text" href="#!" [routerLink]="['results']">
          <i class="material-icons home-icon white-text">pie_chart</i>
          Ergebnisse
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="white-text" href="#!" [routerLink]="['students']">
          <i class="material-icons home-icon white-text">supervisor_account</i>
          Teilnehmer
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="white-text" [routerLink]="['grading']">
          <i class="material-icons home-icon white-text">list</i>
          Bewertungsschema
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="white-text" [routerLink]="['../newcourse']">
          <i class="material-icons home-icon white-text">note_add</i>
          Neuer Kurs
        </a>
      </li>
    </ul>
  </div>


    <div *ngIf="!collpase" class="navbar-fixed col s1">
        <a (click)="setCollpased(true)" class="btn-floating btn-large waves-effect btn-floating-collapse waves-light grey z-depth-1">
            <i class="material-icons">chevron_right</i>
        </a>
      </li>
      <li class="li-collapse" [routerLinkActive]="['active']">
        <a class="white-text" [routerLink]="['correction']">
          <i class="material-icons home-icon white-text">playlist_add_check</i>
        </a>
      </li>
      <li class="li-collapse" [routerLinkActive]="['active']">
        <a class="white-text" href="#!" [routerLink]="['results']">
          <i class="material-icons home-icon white-text">pie_chart</i>
        </a>
      </li>
      <li class="li-collapse" [routerLinkActive]="['active']">
        <a class="white-text" href="#!" [routerLink]="['students']">
          <i class="material-icons home-icon white-text">supervisor_account</i>
        </a>
      </li>
      <li class="li-collapse" [routerLinkActive]="['active']">
        <a class="white-text" [routerLink]="['grading']">
          <i class="material-icons home-icon white-text">list</i>
        </a>
      </li>
      <li class="li-collapse" [routerLinkActive]="['active']">
        <a class="white-text" [routerLink]="['../newcourse']">
          <i class="material-icons home-icon white-text">note_add</i>
        </a>
      </li>
    </ul>
  </div>


    <div *ngIf="collpase" class="col s10">
        <router-outlet></router-outlet>
    </div>

    <div *ngIf="!collpase" class="col s11">
        <router-outlet></router-outlet>
    </div>
</div>
