<div class="row">
  <div *ngIf="collpase" class="navbar-fixed col s2">
    <a (click)="setCollpased(false)" class="btn-floating btn-large waves-effect waves-light grey z-depth-1">
      <i class="material-icons">chevron_left</i>
    </a>
    <ul *ngIf="collpase" class="side-nav fixed" style="background-color:#C2185B; color:white !important; -webkit-transform: translateX(0%) !important">
      <li style="margin-top: 20px">
        <a class="white-text" [routerLink]="['']">
          <i class="material-icons home-icon white-text">close</i>
          Kurs schließen
        </a>
      </li>
      <li style="margin-top: 30px" [routerLinkActive]="['active']">
        <a class="white-text" [routerLink]="['overview']">
          <i class="material-icons home-icon white-text">insert_drive_file</i>
          Übersicht
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="white-text" [routerLink]="['correction']">
          <i class="material-icons home-icon white-text">border_color</i>
          Korrektur
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="white-text" href="#!">
          <i class="material-icons home-icon white-text">list</i>
          Ergebnisse
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="white-text" href="#!" [routerLink]="['students']">
          <i class="material-icons home-icon white-text">supervisor_account</i>
          Teilnehmer
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="white-text" href="#!">
          <i class="material-icons home-icon white-text">list</i>
          Bewertungsschema
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="white-text" href="#!">
          <i class="material-icons home-icon white-text">note_add</i>
          Neuer Kurs
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="!collpase" class="navbar-fixed col s1">
    <a (click)="setCollpased(true)" class="btn-floating btn-large waves-effect btn-floating-collapse waves-light grey z-depth-1">
      <i class="material-icons">chevron_right</i>
    </a>
    <ul class="side-nav fixed menu-collapse" style="background-color:#C2185B; color:white !important; -webkit-transform: translateX(0%) !important">
      <li class="li-collapse" style="margin-top: 20px">
        <a class="white-text" [routerLink]="['']">
          <i class="material-icons home-icon white-text">close</i>
        </a>
      </li>
      <li class="li-collapse" style="margin-top: 30px" [routerLinkActive]="['active']">
        <a class="white-text" [routerLink]="['overview']">
          <i class="material-icons home-icon white-text">insert_drive_file</i>
        </a>
      </li>
      <li class="li-collapse" [routerLinkActive]="['active']">
        <a class="white-text" [routerLink]="['correction']">
          <i class="material-icons home-icon white-text">border_color</i>
        </a>
      </li>
      <li class="li-collapse" [routerLinkActive]="['active']">
        <a class="white-text" href="#!">
          <i class="material-icons home-icon white-text">list</i>
        </a>
      </li>
      <li class="li-collapse" [routerLinkActive]="['active']">
        <a class="white-text" href="#!" [routerLink]="['students']">
          <i class="material-icons home-icon white-text">supervisor_account</i>
        </a>
      </li>
      <li class="li-collapse" [routerLinkActive]="['active']">
        <a class="white-text" href="#!">
          <i class="material-icons home-icon white-text">list</i>
        </a>
      </li>
      <li class="li-collapse" [routerLinkActive]="['active']">
        <a class="white-text" href="#!">
          <i class="material-icons home-icon white-text">note_add</i>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="collpase" class="col s10">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="!collpase" class="col s11">
      <router-outlet></router-outlet>
    </div>
</div>
