<div class="container">
  <h1 *ngIf="!no_data_available">ÜBERSICHT</h1>
  <h1 *ngIf="no_data_available">{{kurstitel}}</h1>
  <hr class="hr_welcome">
  <br>
  <h5 *ngIf="!no_data_available">{{kurstitel}}</h5>

  <div class="row" style="margin-top: 40px" [hidden]="no_data_available">
    <div class="col l4">
      <h5>{{participants.length}} Teilnehmer</h5>
      <h5>{{sum_grade}} Durchschnittsnote</h5>
      <div class="progress white-text" #progressBar>

        <div class="determinate" [ngStyle]="{ 'width': completion + '%' }"></div>
        <div style="position: absolute; margin-left: 20px">{{completion}}% bewertet</div>
      </div>
    </div>
    <div class="col l8" style="height: 200px!important;">
      <canvas #graphCanvas style="position: relative; height:40vh; width:80vw"></canvas>
    </div>
  </div>

  <div class="container" style="margin-left: 0px" *ngIf="no_data_available">
    <p class="empty">
      In diesem Kurs gibt es noch keine Studierenden.
      <br>Teilnehmer können im Menüpunkt
      <a class="hnrot clickHover" [routerLink]="['../students']">Teilnehmer</a> erstellt oder importiert werden.
    </p>
  </div>

  <div class="row" *ngIf="!no_data_available">
    <table>
      <tr>
        <th>ID</th>
        <th>Name, Vorname</th>
        <th>Mtrknr</th>
        <th>Korrigiert</th>
        <th>Note</th>
        <th *ngFor="let task of tasks; let i = index"> {{task.name}}</th>
      </tr>

      <tr #studentTable *ngFor="let participant of participants; let i = index">
        <td> {{participant.id}}</td>
        <td> {{participant.name}}, {{participant.vorname}}</td>
        <td> {{participant.mtknr}}</td>
        <td> {{participant.finish * 100}}%</td>
        <td> {{participant.grade}}</td>
        <td>
          <i class="material-icons right edit-btn tooltipped" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Korrektur fortsetzen"
            [routerLink]="['/course/correction',  {user_to_edit_id: participant.id}]">playlist_add_check</i>
          <i class="material-icons right edit-btn tooltipped" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Details bearbeiten"
            [routerLink]="['/course/student_detail', {student_id: participant.id}]">create</i>
          <i class="material-icons right edit-btn tooltipped" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Ergebnisse anzeigen"
            [routerLink]="['/course/results']">pie_chart</i>
        </td>
      </tr>
    </table>
  </div>

  <div class="fixed-action-btn " #elementOneId id="tutorial_button" style="padding:15px">
    <a class="btn-floating btn-large pink waves-effect waves-light darken-2" (click)="doTour()">
      ?
    </a>
  </div>
</div>