<div class="container">
  <h1 *ngIf="!no_data_available">ÜBERSICHT</h1>
  <h1 *ngIf="no_data_available">{{kurstitel}}</h1>
  <hr class="hr_welcome">
  <br>
  <h5 *ngIf="!no_data_available">{{kurstitel}}</h5>

  <div class="row" style="margin-top: 40px" [hidden]="no_data_available">
    <div class="col l4">
      <h5>{{participants.length}} Teilnehmer</h5>
      <h5>{{sum_grade}} Durchschnittsnote</h5>
      <div class="progress white-text" #progressBar>

        <div class="determinate" [ngStyle]="{ 'width': completion + '%' }"></div>
        <div style="position: absolute; margin-left: 20px">{{completion}}% bewertet</div>
      </div>
    </div>
    <div class="col l8" style="height: 200px!important;">
      <canvas #graphCanvas style="position: relative; height:40vh; width:80vw"></canvas>
    </div>
  </div>

  <div class="container" style="margin-left: 0px" *ngIf="no_data_available">
    <p class="empty">
    In diesem Kurs gibt es noch keine Studierenden. <br>Teilnehmer können im Menüpunkt <a  class="hnrot clickHover" [routerLink]="['../students']">Teilnehmer</a> erstellt oder importiert werden.
    </p>
  </div>
  <div class="row" style="margin-top: 150px" *ngIf="!no_data_available">
    <div class="col l12">
      <div class="row row_hover">
        <div class="col s1">
          <b>ID</b>
        </div>
        <div class="col s3">
          <b>Name, Vorname</b>
        </div>
        <div class="col s2">
          <b>Martrikelnr</b>
        </div>
        <div class="col s2">
          <b>Korrigiert</b>
        </div>
        <div class="col s1">
          <b>Note</b>
        </div>
        <div class="col s3">
        </div>
      </div>
      <hr class="hr_table">
    </div>
    <div #studentTable class="col l12 margin-top-10" *ngFor="let participant of participants | paginate: { itemsPerPage: 30, currentPage: p }; let i = index">
      <div class="row row_hover">
        <div class="col s1">
          {{participant.id}}
        </div>
        <div class="col s3">
          {{participant.name}}, {{participant.vorname}}
        </div>
        <div class="col s2">
          {{participant.mtknr}}
        </div>
        <div class="col s2">
          {{participant.finish * 100}}%
        </div>
        <div class="col s1">
          {{participant.grade}}
        </div>
        <div class="col s3">
          <i class="material-icons right edit-btn" [routerLink]="['/course/correction',  {user_to_edit_id: participant.id}]">playlist_add_check</i>
          <i class="material-icons right edit-btn" [routerLink]="['/course/student_detail', {student_id: participant.id}]">create</i>
        </div>
      </div>
      <hr class="hr_table">
    </div>
    <pagination-controls class="center-align my-pagination" style="margin-top: 50px" (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class="fixed-action-btn " #elementOneId id="tutorial_button" style="padding:15px">
      <a class="btn-floating btn-large pink waves-effect waves-light darken-2" (click)="doTour()">
          ?
      </a>
  </div>
</div>
