<div class="container">
  <h1>Teilnehmer</h1>
  <hr class="hr_welcome">
  <br>

  <div class="row">
    <div class="col s6">
      <div class="row">
        <div class="col s6" *ngIf="!no_data_available">
          <a *ngIf="!group_mode" class='btn waves-effect waves-light pink darken-2 left' (click)="group_mode = false; getGroups()">Teilnehmer</a>
          <a *ngIf="group_mode" class='btn waves-effect waves-light grey light left' (click)="group_mode = false; getGroups()">Teilnehmer</a>
        </div>
        <div class="col s6" *ngIf="!no_data_available" #groupsButton>
          <a *ngIf="!group_mode" class='btn waves-effect waves-light grey light left' (click)="group_mode = true; getGroups()">Gruppen</a>
          <a *ngIf="group_mode" class='btn waves-effect waves-light pink darken-2 left' (click)="group_mode = true; getGroups()">Gruppen</a>
        </div>
      </div>
    </div>
    <div class="col s6">
      <span *ngIf="!group_mode" #importAdd class="right clickHover" [routerLink]="['/course/student_detail', {student_id: 'createNewStudent'}]">
        <i class="material-icons left">add</i> Teilnehmer hinzufügen
      </span>
      <span *ngIf="!group_mode" (click)="openDialog()" class="right clickHover">
        <i class="material-icons left">import_export</i> Teilnehmer importieren
      </span>
      <span *ngIf="group_mode" class="right clickHover" (click)="addGroup()">
        <i class="material-icons left">add</i> Neue Gruppe hinzufügen
      </span>
    </div>
  </div>
  <div class="row" style="margin-left: 0px" *ngIf="no_data_available">
    <h5>In diesem Kurs gibt es noch keine Studierenden.</h5>
  </div>
  <div *ngIf="!no_data_available">

    <div *ngIf="!group_mode">
      <div class="input-field col s6">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" type="text" class="validate" [(ngModel)]="searchValue">
        <label for="icon_prefix">Suche Studierende</label>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col l12">
          <div class="row row_hover">
            <div class="col s2">
              <b>Name, Vorname</b>
            </div>
            <div class="col s2">
              <b>Martrikelnr</b>
            </div>
            <div class="col s3">
              <b>Studiengang</b>
            </div>
            <div class="col s3">
              <b>Gruppe</b>
            </div>
          </div>
          <hr class="hr_table">
        </div>
        <div #studentsTable class="col l12" *ngFor="let participant of (participants | searchStudent: searchValue); let i = index">
          <div class="row row_hover">
            <div class="col s2">
              {{participant.name}}, {{participant.vorname}}
            </div>
            <div class="col s2">
              {{participant.mtknr}}
            </div>
            <div class="col s3">
              {{participant.studiengang}}
            </div>
            <div class="col s3">
              <select class="browser-default" [(ngModel)]="participant.group" (change)="changeDetected($event)">
                <option value="" disabled selected>keine Gruppe</option>
                <option *ngFor="let group of groups" [ngValue]="group.name">{{group.name}}</option>
              </select>
            </div>
            <div class="col s1">
              <i class="material-icons right edit-btn clickHover" [routerLink]="['/course/student_detail', {student_id: participant.id}]">create</i>
            </div>
            <div class="col s1">
              <i class="material-icons clickHover" (click)="deleteStudent(participant)">delete</i>
            </div>
          </div>
          <hr class="hr_table">
        </div>
      </div>
    </div>

    <div *ngIf="group_mode">
      <div class="row" style="margin-top: 50px;">
        <div class="col l12">
          <div class="row row_hover">
            <div class="col s2">
              <b>Gruppen ID</b>
            </div>
            <div class="col s4">
              <b>Name der Gruppe</b>
            </div>
            <div class="col s3">
              <b>Anzahl Studierende</b>
            </div>
            <div class="col s3">
            </div>
          </div>
          <hr class="hr_table">
        </div>
        <div class="col l12" *ngFor="let group of groups; let i = index">
          <div class="row row_hover">
            <div class="col s2">
              {{i}}
            </div>
            <div class="col s4">
              <input [(ngModel)]="group.name" type="text" class="validate" (keyup)="onKey($event)">
            </div>
            <div class="col s3">
              {{group.studenten.length}}
            </div>
            <div class="col s3">
              <i class="material-icons clickHover" (click)="deleteGroup(i)">delete</i>
            </div>
          </div>
          <hr class="hr_table">
        </div>
      </div>
    </div>

    <div class="fixed-action-btn " id="tutorial_button" style="padding:15px">
        <a class="btn-floating btn-large pink waves-effect waves-light darken-2" (click)="doTour()">
            <i class="large material-icons">help</i>
        </a>
    </div>
  </div>
