<div class="container">
    <h1>Teilnehmer</h1>
    <hr class="hr_welcome">
    <br>

    <div class="row">
        <div class="col s5">
            <a class='btn waves-effect waves-light pink darken-2' (click)="openDialog()"><i class="material-icons left">create</i> Teilnehmer importieren</a>
        </div>
        <div class="col s5">
            <a class='btn waves-effect waves-light pink darken-2' (click)="enableGroups()"><i class="material-icons left">create</i> Gruppen aktivieren</a>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col l12">
            <div class="row row_hover">
              <div class="col s1">
                  <b>ID</b>
              </div>
              <div class="col s2">
                  <b>Name, Vorname</b>
              </div>
              <div class="col s2">
                  <b>Martrikelnummer</b>
              </div>
              <div class="col s2">
                  <b>Studiengang</b>
              </div>
              <div class="col s4">
                  <b>Gruppe</b>
              </div>
              <div class="col s1">

              </div>
            </div>
            <hr class="hr_table">
          </div>
        <div class="col l12" *ngFor="let participant of this.participants  | paginate: {itemsPerPage: 6, currentPage: p}; let i = index">
            <div class="row row_hover">
                <div class="col s1">
                    {{participant.id}}
                </div>
                <div class="col s2">
                    {{participant.name}}, {{participant.vorname}}
                </div>
                <div class="col s2">
                    {{participant.mtknr}}
                </div>
                <div class="col s2">
                    {{participant.studiengang}}
                </div>

                <div class="col s4">
                    <select class="browser-default" [(ngModel)]="participant.group" (change)="changeDetected($event)">
                      <option value="" disabled selected>Choose your option</option>
                      <option *ngFor="let group of groups" [ngValue]="group.name">{{group.name}}</option>
                    </select>
                </div>
                <div class="col s1">
                    <i class="material-icons right edit-btn" [routerLink]="['/course/students']">create</i>
                 </div>
        </div>
        <hr class="hr_table">
    </div>
    <pagination-controls class="center-align my-pagination" style="margin-top: 40px" (pageChange)="p = $event"></pagination-controls>
</div>




</div>
