<div class="container">
  <h1 *ngIf="!correctionMode">KORREKTUR</h1>
  <hr class="hr_welcome" *ngIf="!correctionMode">
  <br>
  <i class="material-icons right" (click)="setCorrectionMode()" style="font-size: 30px" *ngIf="!correctionMode">fullscreen_exit</i>
  <i class="material-icons right" (click)="setCorrectionMode()" style="font-size: 30px" *ngIf="correctionMode">fullscreen</i>
  <div class="row" style="margin-top: 40px">
    <div class="col s12 center-align">
      <a class="waves-effect waves-light btn grey">Nach Aufgaben</a>
      <a class="waves-effect waves-light btn pink darken-2">Nach Student</a>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <i class="material-icons left" style="font-size: 40px">chevron_left</i>
    </div>
    <div class="col s4">
      <div class="row">
        <div class="col s8">
          <input class="right" placeholder="0" type="number" class="validate">
        </div>
        <div class="col s4" style="margin-top: 5px">
          <span class="left"> <h5>/18</h5></span>
        </div>
      </div>
    </div>
    <div class="col s4">
      <i class="material-icons right" style="font-size: 40px">chevron_right</i>
    </div>
  </div>

<div class="row">
  <div class="col s12">
    <div class="card-panel white" (click)="open_1 = !open_1">
      <span>Beschreibung</span>
      <i class="material-icons right" *ngIf="!open_1">keyboard_arrow_down</i>
      <i class="material-icons right" *ngIf="open_1">keyboard_arrow_up</i>
    </div>
    <div *ngIf="open_1" class="card-panel grey lighten-2">
      <span class="black-text">{{current_task.beschreibung}}
      </span>
    </div>
  </div>

  <div class="col s12">
    <div class="card-panel white" (click)="open_2 = !open_2">
      <span>Bewertungshinweis</span>
      <i class="material-icons right" *ngIf="!open_2">keyboard_arrow_down</i>
      <i class="material-icons right" *ngIf="open_2">keyboard_arrow_up</i>
    </div>
    <div *ngIf="open_2" class="card-panel grey lighten-2">
      <span class="black-text">{{current_task.bewertungs_hinweis}}
      </span>
    </div>
  </div>

  <div class="col s12">
    <div class="card-panel white" (click)="open_3 = !open_3">
      <span>Öffentlicher Kommentar</span>
      <i class="material-icons right" *ngIf="!open_3">keyboard_arrow_down</i>
      <i class="material-icons right" *ngIf="open_3">keyboard_arrow_up</i>
    </div>
    <div *ngIf="open_3" class="card-panel grey lighten-2" style="height:auto; overflow:auto;">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" placeholder="Öffentlicher Kommentar"></textarea>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="card-panel white" (click)="open_4 = !open_4">
      <span>Privater Kommentar</span>
      <i class="material-icons right" *ngIf="!open_4">keyboard_arrow_down</i>
      <i class="material-icons right" *ngIf="open_4">keyboard_arrow_up</i>
    </div>
    <div *ngIf="open_4" class="card-panel grey lighten-2" style="height:auto; overflow:auto;">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" placeholder="Privater Kommentar"></textarea>
      </div>
    </div>
  </div>

</div>

</div>
