@media only screen and (max-width: 992px){
.side-nav.fixed {
    transform: translateX(0%) !important;
}
}

.side-nav.fixed{
    transform: translateX(0%) !important;
}

.progress {
    margin-top: 15px;
    background-color: lightgray;
    height: 20px;
}

.progress .determinate {
    background-color: #C2185B;
}

h5{
    font-size: 1.34rem;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #C2185B !important;
}

.card-panel:hover{
    cursor: pointer;
}

.empty {
    margin-top: 100px;
    font-size: 24px;
}

.hnrot {
    color: #C2185B;
}
.chevron{
    font-size: 40px;
}

.inactive{
    color: #bdbdbd;
}
