.hr_welcome {
  width: 50px;
  float: left;
  border: 2px solid #C2185B;
  margin-top: -10px;
}

.btn,
.btn-large {
  background-color: #C2185B;
}

.back-button{
  font-size: 60px; 
  margin-left: -80px;
}

.back-button:hover{
  cursor: pointer;
}
