<div class="container">
  <a (click)="goBack()" style="color: black">
    <i class="material-icons left back-button">keyboard_arrow_left</i>
  </a>
  <h1>NEUEN KURS ERSTELLEN</h1>
  <hr class="hr_welcome">
  <br>
  <div class="row">
    <form class="col s12">
      <div class="col s12 row">
        <div class="input-field col s12">
          <input #nameInput id="coursename" placeholder="z.B. WS17 Advanced Software Engineering" [(ngModel)]="course_file.title" required [ngModelOptions]="{standalone: true}" class="validate" autofocus>
          <label for="coursename" class="active">Kursbezeichnung</label>
        </div>
      </div>
      <div class="col s12 row" style="margin-left: -15px">
        <br>
        <div class="input-field col s4">
          <a #createButton class="waves-effect waves-light btn" (click)="createCourse()" type="submit">
            <i class="material-icons left">create_new_folder</i>Kurs erstellen</a>
        </div>
        <div class="input-field col s4">
          <a class="waves-effect waves-light btn" (click)="goBack()">Abbrechen</a>
        </div>
      </div>
    </form>
  </div>
  <div class="fixed-action-btn " #elementFiveId id="tutorial_button" style="padding:15px">
      <a class="btn-floating btn-large pink waves-effect waves-light darken-2" (click)="doTour()">
          ?
      </a>
  <div  class="col s10">
    <toast></toast>
    <router-outlet></router-outlet>
  </div>
</div>
