.container {
  color: black;
  padding: 20px;
}

.exports {
  a{
    width: 120px;
    padding: 0 15px;
  }
}

.diagramm {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.switch {
  margin-left: 30px;
}

.participants{
  th, td{
    width: 125px;
  }
}

.number{
  text-align: center;
}